
body {background-color:#685f74;}
header {
    padding: 10px;
    background-color: #ead5e6;}
  
 .bg-white{background-color:#f2befc !important;}   


.bg-light{ background-color: #f3e0ec !important;}

section.jumbotron {
    background-size:cover;
    background-position:center;
}
    
.text-black {
    color: blue !important;
    font-family: 'Ubuntu', sans-serif;

}
    

    
    
.card{
    padding:0;
margin:.25rem;
min-width:200px;
max-width:225px;


}
.card-body{ background-color:#ca9ce1; 
    font-family: 'Work Sans', sans-serif;
}


.row-cols-md-2>*{
    flex:0 0 46%;

}


nav ul { font-size: 30px;
list-style: none;
padding: 0px;
color:black;
}

nav ul i { display:inline-block; 
    padding:5px;
}
    
