body {
	font-family: 'Raleway', sans-serif;
}


header {
	height: 10vh;
}

label {
	font-size: 20px;
}

li a {
	font-size: 1.75rem;
}

.card-img-top {
	max-height: 250px;
}

.card img {
	height: 260px;
	width: 260px;
}

.keys {
	font-size: 20px;
}

.card-text {
	font-size: 20px;
}

.pic {
	width: 250px;
	height: 250px;
	display: inline-block;
}

.cart .cart-btn {
	top: 55px;
	right: 75px;
	position: absolute;
	transform: translateY(-50%);
	border-radius: 50px;
}

.cart .cart-btn p {
	color: white;
	background-color: rgb(136, 134, 134);
	top: 30%;
	position: absolute;
	right: 6px;
	transform: translateY(-50%);
	padding: 1px 5px;
	border-radius: 50px;
}

.cart .cart-btn i {
	font-size: 2rem;
}

.cart .cart-btn p:hover {
	background-color: green;
}

.cart .cart-btn i:hover {
	text-decoration: none;
	color: green;
}

.cart .cart-btn i {
	color: black;
}

.jumbotron {
	background-image: url('guitarsfront.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 450px;
}

.music {
	font-size: 20px;
}

.display-4 {
	background-color: white;
}

p.lead {
	font-size: 20px;
}

.jumbotron {
	padding-top: 110px;
}

.jumbotron .lead {

	background-color: rgba(200, 202, 191, 0.8);
	color: black;
	padding: .25rem;
}

.carousel-inner {
	height: 400px;
	width: 100%;
}

.carousel-item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
}

.founder {
	font-size: 1.25rem;
}

.buynow {
	text-align: center;
	padding: 20px;
}

.productstwo {
	position: absolute;
	top: 50%;
	left: 50%;
}

.productsthree {
	position: absolute;
	top: 50%;
	left: 50%;
}

.productsone {
	position: absolute;
	top: 50%;
	left: 50%;
}

.social {
	background-color: lightgray;
	height: 150px;
	

}

.social span p {
	display: inline-block;
}

.facebook,
.instagram,
.twitter {
	margin: 15px;
}

.orange {
	background-image: url('akaikeys.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	padding: 0;
}

.gretsch {
	background-image: url('gretschbass.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 250px;
	padding: 0;
}

.getreal {
	background-image: url('getrealdrums.jpg');
	height: 250px;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-outline-info {
	border-color: lightgrey;
}

.btn-info {
	background-color: rgb(138, 137, 137);
	border-color: grey;
}

.btn-primary {
	background-color: grey;
	border-color: black;
}

.blog {
	padding: 0;
}

.read {
	font-size: 1.25rem;

}

@media (min-width:320px) {
    
	.back {
		display: none;
	}

	.pausebutton {
		position: absolute;
		top: 70%;
		left: 43%;
	}
}

@media (min-width:768px) {
	.jumbotron {
		padding-top: 150px;
	}
	
	
	.back {
		display: block;
	}

	.cart .cart-btn {
		top: 55px;
		right: 75px;
	}

	.pausebutton {
		position: absolute;
		top: 75%;
		left: 75%;
	}

	.carousel-inner {
		height: 400px;

	}

	.carousel-item {
		height: 400px;
	}

	.flip-container {
		perspective: 1000px;

	}


	.flip-container:hover .flipper,
	.flip-container.hover .flipper,
	.flip-container.flip .flipper {
		transform: rotateY(180deg);
	}

	.flip-container,
	.front,
	.back,
	.card {

		height: 480px;
	}


	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;

		position: relative;
	}


	.front,
	.back {
		backface-visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;
	}


	.front {
		z-index: 2;
		transform: rotateY(0deg);
	}


	.back {
		transform: rotateY(180deg);
		margin: 20px;
	}



}


@media(min-width:980px) {

	.navbar-brand {
		margin-right: 0;
	}

	.cart .cart-btn {
		top: 55px;
		right: 15px;
	}

	.pic {
		width: 275px;
		height: 275px;
		display: inline-block;
	}

	.flip-container,
	.front,
	.back,
	.card {

		height: 480px;
	}

	.fields {
		width: 600px;
		text-align: center;
	}

	.pausebutton {
		position: absolute;
		top: 80%;
		left: 80%;
	}

	.carousel-inner {
		height: 450px;
	}

	.carousel-item {
		height: 450px;
	}

	.lespaul {
		margin: auto;
	}

	.container .display-4 {
		width: 60%;
	}

	p.lead {
		width: 50%;
	}

}