body {font-family: 'Great Vibes', cursive;
	font-family: 'Raleway', sans-serif;}
.pic{width:250px;height:250px; display:inline-block;}
.jumbotron {
		background-image: url('da2cd925bffd14af304889883503c2fa95defa14.jpg');
		background-repeat:no-repeat;
		background-position:center;
		background-size:cover;
		height:350px;
	}
	
	.display-4{
		background-color:white;
	}
	
	.jumbotron .lead {
		font-family: 'Great Vibes', cursive;
		background-color:rgba(200, 202, 191, 0.8);
		color: black;
		padding: .25rem;
	}
	.jumbotron .display-4 {
		background-color:rgba(200, 202, 191, 0.8);
	}
.img-fluid{display:inline-block;}

.btn-now{display:inline-block;text-align:center;}

.flip-container {
    perspective: 1000px;
  
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
        transform: rotateY(180deg);
    }
.flip-container, .front, .back ,.card{
	
	height:480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    margin:20px;
}

.social{
	text-align:center;
}

@media (min-width:320px){

}

@media (min-width:768px){
.container{max-width:720px;}
       

}


@media(min-width:980px){
.container{max-width:900px;}
.flip-container, .front, .back, .card  {
	
	height: 480px;
}
.fields{width:600px;text-align:center;}
}
