body {
    background-color: #fff000;
    font-family: 'Ubuntu', sans-serif;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    background-color: yellow;
    font-family: 'Work Sans', sans-serif;
}

.card-title {
    color: black;
}

.col-lg-12 p {
    margin: auto;
}

.strive {
    font-size: 1.25rem;
    max-width: 80%;
}

.jumbotron {
    background-image: url('avenger.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:350px;
}

.lead {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    padding: .25rem;
}


.alert {
    text-align: center;
}

.pausebutton .btn {
    width: 70px;
    height: 40px;
}

.welcome {
    text-align: center;
    margin: 50px;
}


.aboutus {
    margin: 0 auto;
    width: 60%;

}

i.fab {
    color: rgba(17, 106, 231, 0.798);
}

.social {
    text-align: center;
}

footer i {
    width: 80px;
    height: 80px;
}



.carousel-inner {
    height:300px;
    width:100%;
}
.carousel-item{
    background-repeat:no-repeat;
    background-size:cover;
    height:500px;
    
}


@media (min-width:320px) {
    .pausebutton {
        position: absolute;
        top: 105%;
        left: 42%;
}


}

@media (min-width:760px) {
    .pausebutton {
        position: absolute;
        top: 50%;
        left: 46%;
    }

    .carousel-inner {
        height:400px;
    }
}


@media (min-width:980px) {
    .pausebutton {
        position: absolute;
        top: 70%;
        left: 47%;
    }

    .carousel-inner {
        height:550px;
    }

}