body {
    background-color: #fff000;
    font-family: 'Ubuntu', sans-serif;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    background-color: yellow;
    font-family: 'Work Sans', sans-serif;
}


.card-img-top{
    height:60vh;
}

.card-title {
    color: black;
}
.bybutton{
    text-align: center;
}

.col-12 p {
    margin: 0 auto;
    width: 100%;
}

.strive {
    font-size: 1.25rem;
   
}

.jumbotron {
    background-image: url('infinity-war-giant-poster.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height:350px;
}

.display-4{
    background-color:yellow;
}

.jumbotron .lead {
    font-family: 'Ubuntu', sans-serif;
    background-color:rgba(203, 224, 106, 0.8);
    color: black;
    padding: .25rem;
}
.jumbotron .display-4 {
    background-color:rgba(203, 224, 106, 0.8);
}
.alert {
    text-align: center;
}

.pausebutton .btn {
    width: 70px;
    height: 40px;
}

.welcome {
    text-align: center;
    margin-top: 30px;
    padding-bottom:10px;
}
.hello {text-align: center;
    margin-top: 80px;
}



.aboutus {
    margin: 0 auto;
    width: auto;

}

i.fab {
    color: rgba(17, 106, 231, 0.798);
}

.social {
    text-align: center;
}

footer i {
    width: 80px;
    height: 80px;
}


.carousel-inner {
    height:300px;
    width:100%;
}
.carousel-item{
    background-repeat:no-repeat;
    background-size:cover;
    height:300px;
    
}

a {font-size:1.25rem;}

@media (min-width:320px) {
    .pausebutton {
        position: absolute;
        top: 105%;
        left: 50%;
}


}

@media (min-width:760px) {
    .pausebutton {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .carousel-inner {
        height:400px;
    }
    .carousel-item{
        background-repeat:no-repeat;
        background-size:cover;
        height:400px;
}
}

@media (min-width:980px) {
    .pausebutton {
        position: absolute;
        top: 70%;
        left: 47%;
    }
.strive{ width:60%;
margin: 0 auto;}
    .carousel-inner {
        height:600px;
    }
    .carousel-item{
        background-repeat:no-repeat;
        background-size:cover;
        height:600px;
}
}