body {
    padding-bottom:120px;
}    

section.jumbotron {
    background-size:cover;
    background-position:center;
}
    
.text-black {
    color: black !important;
}
    
.bg-white {
    background-color: white !important;
    
}
    
.container h2 {
    text-align:center;
    font-size:1.2em;
}

.nav-item {
    margin:2px;
}